@using Microsoft.EntityFrameworkCore;
@using Models
@using Microsoft.Extensions.Configuration
@using System.IO
@using Data

@inject PageTitle _pageTitle
@inject vswebsiteContext _context
@inject NavigationManager NavManager
@inject ISnackbar Snackbar
@inject IConfiguration Configuration

@page "/Admin"


@if (loggedIn)
{
<EditForm Model="@entry" OnValidSubmit="@SubmitEntry">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>Info</h3>
    <br />
    <hr />
    <br />
    <MudGrid Style="width: 600px;">
        <MudItem xs="12" sm="12" md="12">
            <MudItem xs="12">
                <MudSelect @bind-Value="entry.UserId" Label="User" FullWidth="false" Class="fixedWidth">
                    @if (entry.User != null)
                        {
                        <MudSelectItem Value="@entry.UserId">@entry.User.DisplayName</MudSelectItem>
                        }
                        else
                        {
                        <MudSelectItem Value="0">None</MudSelectItem>
                        }
                    @foreach (var user in users)
                        {
                        <MudSelectItem Value="@user.Id">@user.DisplayName</MudSelectItem>
                        }
                </MudSelect>
            </MudItem>
        </MudItem>
        <MudItem xs="12" sm="4" md="4">
            <MudItem xs="12">
                <MudSelect @bind-Value="entry.StageId" Label="Stage" FullWidth="false" Style="width: 100px;">
                    @if (entry.Stage != null)
                        {
                        <MudSelectItem Value="@entry.StageId">@entry.Stage.Name</MudSelectItem>
                        }
                        else
                        {
                        <MudSelectItem Value="0">None</MudSelectItem>
                        }
                    @foreach (var stage in stages)
                        {
                        <MudSelectItem Value="@stage.Id">@stage.Name</MudSelectItem>
                        }
                </MudSelect>
            </MudItem>
        </MudItem>
        <MudItem xs="12" sm="4" md="4">
            <MudItem xs="12">
                <MudSelect @bind-Value="entry.CharacterId" Label="Character" FullWidth="false">
                    @if (entry.Character != null)
                        {
                        <MudSelectItem Value="@entry.CharacterId">@entry.Character.Name</MudSelectItem>
                        }
                        else
                        {
                        <MudSelectItem Value="0">None</MudSelectItem>
                        }
                    @foreach (var character in characters)
                        {
                        <MudSelectItem Value="@character.Id">@character.Name</MudSelectItem>
                        }
                </MudSelect>
            </MudItem>
        </MudItem>
        <MudItem xs="12" sm="4" md="4">
            <MudItem xs="12">
                <MudSelect @bind-Value="entry.Version" Label="Version" FullWidth="false">
                    @if (entry.VersionNavigation != null)
                        {
                        <MudSelectItem Value="@entry.Version">@entry.VersionNavigation.Name</MudSelectItem>
                        }
                        else
                        {
                        <MudSelectItem Value="0">None</MudSelectItem>
                        }
                    @foreach (var version in versions)
                        {
                        <MudSelectItem Value="@version.Id">@version.Name</MudSelectItem>
                        }
                </MudSelect>
            </MudItem>
        </MudItem>
    </MudGrid>
    <br />
    <hr />
    <br />
    <h3>Stats</h3>
    <br />
    <hr />
    <br />
    <MudGrid Style="width: 800px;">
        <MudItem xs="12" sm="6" md="3">
            <MudTextField T="Int32" Label="Kills" Variant="Variant.Outlined" @bind-Value="@entry.Kills" />
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudTextField T="Int32" Label="Gold" Variant="Variant.Outlined" @bind-Value="@entry.Gold" />
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudTextField T="Int32" Label="Level" Variant="Variant.Outlined" @bind-Value="@entry.Level" />
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudTextField T="Decimal" Label="Survived" Variant="Variant.Outlined" @bind-Value="@entry.SurvivedTime" />
        </MudItem>
    </MudGrid>
    <label style="padding: 5px; margin-right: 10px;">Limitless: </label>
    <span class="InputContainer">
        <input class="DropDown" type="checkbox" @onchange="LimitChanged" checked="@isLimitless">
    </span>
    <br />
    <hr />
    <br />
    <h3>Proof</h3>
    <br />
    <hr />
    <br />
    <MudGrid Style="width: 800px;">
        <MudItem xs="12" sm="12" md="12">
            <MudDatePicker Label="Date Submitted" @bind-Date="@submitDate" Class="fixedWidth" />
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudTextField T="String" Label="Video" Variant="Variant.Outlined" @bind-Value="@entry.Video" Style="width: 500px;" />
        </MudItem>
    </MudGrid>
    <br />
    <br />

    <MudGrid Style="width: 800px;">
        @if (ImageUrl != "")
        {
            <img src="@ImageUrl" />
            <br /><br>
        }

        @if (!Uploaded)
        {
            <div class="dropArea @dropClass">
                Drag and Drop Screenshot or click to select file.
                <InputFile disabled="@Uploading"
                           OnChange="OnInputFileChange"
                           @ondragenter="HandleDragEnter"
                           @ondragleave="HandleDragLeave" />
            </div>
        }
    </MudGrid>
    <br />
    <hr />
    <br />
    <MudItem Style="margin: auto;">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="SubmitEntry">Submit</MudButton>
    </MudItem>
</EditForm>
}
else
{
    <h3>Not logged in</h3>
}

@code {
    bool loggedIn;
    bool Uploaded = false;
    bool Uploading = false;
    bool isLimitless = false;

    string dropClass = string.Empty;

    DateTime? submitDate;

    public List<Character> characters = new List<Character>();
    public List<Stage> stages = new List<Stage>();
    public List<User> users = new List<User>();
    public List<Models.Version> versions = new List<Models.Version>();

    public Entry entry = new Entry();

    string ContainerName = "vsimages";
    string ImageFileName = "";
    string ImageUrl = "";

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _pageTitle.SetTitle("Submit Run");
        var authState = await authenticationStateTask;
        var user = authState.User;
        loggedIn = user.Identity.IsAuthenticated;

        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        characters = await _context.Characters.OrderBy(o => o.Name).ToListAsync();
        stages = await _context.Stages.ToListAsync();
        versions = await _context.Versions.Where(w => w.Active == true).ToListAsync();
        users = await _context.Users.OrderBy(o => o.DisplayName).ToListAsync();
    }

    private void LimitChanged(ChangeEventArgs e)
    {
        isLimitless = Convert.ToBoolean(e.Value);
    }

    private async Task SubmitEntry()
    {
        if (entry.StageId == 0)
        {
            Snackbar.Add("Stage must be selected.", Severity.Error);
        }
        else if (entry.CharacterId == 0)
        {
            Snackbar.Add("Character must be selected.", Severity.Error);
        }
        else if (entry.UserId == 0)
        {
            Snackbar.Add("User must be selected.", Severity.Error);
        }
        else if (submitDate == null)
        {
            Snackbar.Add("Date must be selected.", Severity.Error);
        }
        else
        {
            entry.DateSubmitted = Convert.ToDateTime(submitDate);
            entry.Image = ImageFileName;
            entry.Approved = true;
            entry.Limitless = isLimitless;
            _context.Entries.Add(entry);
            await _context.SaveChangesAsync();
            Snackbar.Add("Entry has been submitted.", Severity.Success);
            entry = new Entry();
        }
    }

    void HandleDragEnter()
    {
        dropClass = "dropAreaDrug";
    }

    void HandleDragLeave()
    {
        dropClass = string.Empty;
    }

    async Task OnInputFileChange(InputFileChangeEventArgs args)
    {
        dropClass = string.Empty;

        try
        {
            Uploading = true;
            await InvokeAsync(StateHasChanged);

            var format = "image/png";
            var resizedImageFile = await args.File.RequestImageFileAsync(format, 1280, 720);

            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);

            string justFileName = Path.GetFileNameWithoutExtension(args.File.Name);
            string newFileNameWithoutPath = $"{justFileName}-{DateTime.Now.Ticks.ToString()}.png";
            string filename = $"{Environment.CurrentDirectory}\\files\\{newFileNameWithoutPath}";

            File.WriteAllBytes(filename, buffer);

            ImageFileName = newFileNameWithoutPath;
            ImageUrl = $"files/{newFileNameWithoutPath}";


            Uploading = false;
            Uploaded = true;
        }
        catch (Exception ex)
        {
            Uploading = false;
            await InvokeAsync(StateHasChanged);
            System.Diagnostics.Debug.WriteLine(ex.Message);
            throw;
        }
    }
}
