@page "/Entry"

@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.WebUtilities;
@using Models
@using System.Security.Claims

@inject vswebsiteContext _context
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

@if (entry != null)
{
    @if (!entry.Approved && !isAdmin && !submittedUser)
    {
        <h3>This run has not been approved.</h3>
    }
    else if (entry.Deleted && !isAdmin && !submittedUser)
    {
        <h3>This run has been removed.</h3>
    }
    else
    {
        <h2>@entry.Stage.Name</h2>
        <br />
        <hr />
        <br />

        <div>
            <div class="detailRow" style="width: 900px;">
                <div class="detailCol">
                    <span>@entry.Character.Name: #@characterRank / @characterMaxRank</span>
                </div>
                <div class="detailCol">
                    <span style="display: block; width: 100%; text-align: right;">Stage: #@rank / @maxRank</span>
                </div>
            </div>
            <div class="detailFrame" style="width: 900px;">
                <div class="row">
                    <div class="col-12">
                        @if (@entry.Video != null)
                        {

                            <iframe style="height: 325px;" width="560" src="@videoUrl" frameborder="0"></iframe>

                        }
                        @if (@entry.Image != null && entry.Video == null)
                        {
                            <img src="\files\@entry.Image" style="display: block; height: 100%; max-width: 100%; margin: auto;" />
                        }
                    </div>
                </div>
            </div>
            <div class="detailRow" style="width: 900px;">
                <div class="detailCol">
                    <span style="display: block; width: 100%;">Submitted by: @entry.User.DisplayName</span>
                </div>
                <div class="detailCol">
                    <span style="display: block; width: 100%; text-align: center;">Submitted on: @entry.DateSubmitted</span>
                </div>
                <div class="detailCol">
                    <span style="display: block; width: 100%; text-align: right;">L (@entry.Level) | K (@entry.Kills) | G (@entry.Gold) | T (@entry.SurvivedTime)</span>
                </div>
            </div>
        </div>

        <br />
        <MudGrid>
            @if (isAdmin)
            {
                <MudGrid Style="width: 800px;">
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField T="Int32" Label="Kills" Variant="Variant.Outlined" @bind-Value="@entry.Kills" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField T="Int32" Label="Gold" Variant="Variant.Outlined" @bind-Value="@entry.Gold" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField T="Int32" Label="Level" Variant="Variant.Outlined" @bind-Value="@entry.Level" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="3">
                        <MudTextField T="Decimal" Label="Survived" Variant="Variant.Outlined" @bind-Value="@entry.SurvivedTime" />
                    </MudItem>
                </MudGrid>
                <MudGrid Style="width: 800px; margin-top: 20px;">
                    <MudItem>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" type="button" @onclick="() => ApproveEntry()"> Approve </MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton Variant="Variant.Filled" Color="Color.Error" type="button" @onclick="() => RejectEntry()"> Reject </MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" type="button" @onclick="() => UpdateEntry()"> Update</MudButton>
                    </MudItem>
                    @if (entry.Deleted && isAdmin)
                    {
                        <MudItem><MudButton Variant="Variant.Filled" Color="Color.Info" type="button" @onclick="() => RestoreEntry()"> Restore </MudButton></MudItem>
                    }
                    @if (!entry.Deleted && (isAdmin || submittedUser))
                    {
                        <MudItem><MudButton Variant="Variant.Filled" Color="Color.Warning" type="button" @onclick="() => DeleteEntry()"> Delete </MudButton></MudItem>
                    }
                </MudGrid>

            }

        </MudGrid>
    }

}

@code {
    bool isAdmin;
    bool submittedUser;

    List<Entry> entries = new List<Entry>();
    Entry entry;

    string videoUrl;

    int characterRank;
    int characterMaxRank;
    int rank;
    int maxRank;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        User chkUser = _context.Users.Where(w => w.UserKey == userId).FirstOrDefault();
        if (chkUser != null) isAdmin = chkUser.Admin;

        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            entry = await _context.Entries
                .Include(i => i.Character)
                .Include(i => i.User)
                .Include(i => i.Stage)
                .Where(w => w.Id == Convert.ToInt32(_id)).FirstOrDefaultAsync();
            if (entry.Video != null)
                videoUrl = VideoUrl(entry.Video);

            if (chkUser != null)
            {
                submittedUser = (entry.UserId == chkUser.Id) ? true : false;
            }

            rank = entries.IndexOf(entry) + 1;
            maxRank = entries.Count;

            entries = entries.Where(w => w.CharacterId == entry.CharacterId).ToList();

            characterRank = entries.IndexOf(entry) + 1;
            characterMaxRank = entries.Count;
        }
    }

    private string VideoUrl(string url)
    {
        if (url.Contains("youtube"))
        {
            url = url.Replace("watch?v=", "embed/");
        }
        else if (url.Contains("twitch"))
        {
            url = url.Replace("www", "player");
            url = url.Replace("videos/", "?video=v");
            url = url + "&parent=vsleaderboard.azurewebsites.net";
        }
        return url;
    }

    private async Task UpdateEntry()
    {
        entry.Approved = true;
        await _context.SaveChangesAsync();
        Snackbar.Add("Entry has been approved.", Severity.Success);
    }

    private async Task ApproveEntry()
    {
        entry.Approved = true;
        await _context.SaveChangesAsync();
        Snackbar.Add("Entry has been approved.", Severity.Success);
    }

    private async Task RejectEntry()
    {
        entry.Deleted = true;
        await _context.SaveChangesAsync();
        Snackbar.Add("Entry has been rejected.", Severity.Warning);
    }

    private async Task RestoreEntry()
    {
        entry.Deleted = false;
        await _context.SaveChangesAsync();
        Snackbar.Add("Entry has been restored.", Severity.Success);
    }

    private async Task DeleteEntry()
    {
        entry.Deleted = true;
        await _context.SaveChangesAsync();
        Snackbar.Add("Entry has been deleted.", Severity.Warning);
    }
}

